Source: kharma-radar
Section: admin
Priority: optional
Maintainer: Mutasem <mutasem-mk4@github.com>
Build-Depends: debhelper-compat (= 13), python3-all, dh-python, python3-setuptools
Standards-Version: 4.6.0
Homepage: https://github.com/Mutaz/kharma-network-radar

Package: kharma-radar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}, python3-click, python3-rich, python3-psutil, python3-requests, python3-maxminddb, python3-vt-py, python3-rich-click, python3-flask, python3-flask-cors, python3-scapy
Description: Kharma Evolution Proactive Defense Suite
 Kharma Evolution is an elite, proactive network defense suite designed to
 eliminate "blind spots" in system visibility. It transforms raw network
 data into actionable security intelligence using real-time radar mapping,
 deep packet inspection (DPI), offline GeoIP resolution, and automated
 malware termination through an interactive glassmorphism dashboard.
