pkgbase = kharma
	pkgdesc = Kharma Evolution: Elite proactive defense suite featuring real-time radar, DPI, Geo-Fencing, and automated malware termination.
	pkgver = 10.2.0
	pkgrel = 1
	url = https://github.com/Mutaz/kharma-network-radar
	arch = any
	license = MIT
	groups = blackarch
	groups = blackarch-networking
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-click
	depends = python-rich
	depends = python-psutil
	depends = python-requests
	depends = python-maxminddb
	depends = python-vt-py
	depends = python-rich-click
	depends = python-flask
	depends = python-flask-cors
	depends = python-scapy
	source = https://files.pythonhosted.org/packages/source/k/kharma-radar/kharma_radar-10.2.0.tar.gz
	sha256sums = SKIP

pkgname = kharma
